* {
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
  text-decoration: none;
  list-style: none;
}

body {
  background: var(--bg-color);
  color: var(--text-color);
  display: flex;
  justify-content: center;
}



header {
  position: relative;
  right: 0px;
  display: flex;
  justify-content: center;
  padding-top: 1.25rem;
  position: fixed;
  z-index: 100;
  align-items: center;
}

header ul {
    display: flex;
    gap: 3.45rem;
    align-items: center;
    padding-top: 0.4rem; 
    padding-left: 5.81rem;
    padding-right: 5.06rem;
}

.logo {
  position: absolute;
  font-family: "lexend";
  font-weight: bold;
  font-size: 14pt;
  right: 180vh;
  top: 4vh;
}


.hero-content {
  display: flex;
  align-items: center;
  padding-top: 180px;
}

.hero-txt {
  display: flex;
  flex-direction: column;
  align-self: center;
  padding-left: 245px;
}

.hero-txt-p {
  font-family: "poppins";
  font-size: 20pt;
  font-weight: bold;
  color: rgb(223, 105, 81);
  padding-bottom: 25pt;
}

.hero-h1 {
  font-family: "volkhov";
  font-size: 84pt;
  font-weight: bold;
  color: rgb(24, 30, 75);
  padding-bottom: 25pt;
  line-height: 89pt;
}

.hero-h1 span {
  position: absolute;
}

.hero-txt-p2 {
  font-family: "poppins";
  font-size: 16pt;
  font-weight: 600;
  color: rgb(94, 98, 130);
  line-height: 30pt;
  padding-bottom: 29pt;
}

.hero-buttons {
  display: flex;
}

.hero-text-button {
  background-color: rgb(241, 165, 1);
  border: none;
  font-size: 18pt;
  font-family: "open sans";
  font-weight: 600;
  padding-top: 13.5px;
  padding-bottom: 13.5px;
  padding-left: 13px;
  padding-right: 13px;
  border-radius: 10px;
  box-shadow: rgba(241, 165, 1, 0.25) 0px 25px 50px -12px;
  transition: ease-in-out 0.15s;
  cursor: pointer;
}

.hero-text-button:hover {
  transform: scale(1.1);
}

.play-demo-all {
  display: flex;
  transition: ease-in-out 0.15s;
  cursor: pointer;
}

.play-demo-all:hover {
  transform: scale(1.1);
}

.play-demo {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(223, 105, 81);
  height: 1fr;
  width: 60px;
  border-radius: 30px;
  box-shadow: rgba(223, 105, 81, 0.3) 0px 15px 30px -0px;
  overflow: hidden;
}

.play-demo img {
  width: 13px;
}

.play-demo-p {
  font-family: "poppins";
  font-size: 16pt;
  font-weight: 500;
  color: rgb(119, 109, 104);
  display: flex;
  align-items: center;
  padding-left: 28px;
}

.traveler {
  position: absolute;
  left: 850px;
}

.traveler img {
  width: 850px;
}

.home-text-1 {
  font-family: "volkhov";
  font-size: 50pt;
  font-weight: bold;
  color: rgb(20, 24, 62);
}

.home-text-2 {
  font-family: "Poppins";
  font-size: 14pt;
  font-weight: 500;
  color: rgb(94, 98, 130);
  padding-bottom: 20px;
}

.home-text-3 {
  font-family: "Poppins";
  font-size: 12pt;
  font-weight: 500;
  color: rgb(94, 98, 130);
}

.services {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  text-align: center;
  padding-top: 100px;
  position: relative;
}

.services-best {
  display: flex;
  flex-direction: row;
  padding-top: 50px;
  justify-content: space-evenly;
  gap: 150px;
}

.services-best-description {

  background-color: white;
  padding-top: 30px;
  padding-bottom: 30px;
  padding-left: 20px;
  padding-right: 20px;
  transition: ease-in-out 0.15s;
  z-index: 20;
  border-radius: 30px;
  cursor: pointer;
}

.services-best-description:hover {
  transform: scale(1.1);

  box-shadow: rgba(0, 0, 0, 0.1) -4px 9px 25px -6px;
}

.services-text {
  display: flex;
  flex-direction: column;
  padding-top: 50px;
  gap: 20px;
}

.services-text-1 {
  font-family: "open sans";
  font-weight: 600;
  font-size: 14pt;
  color: rgb(30, 29, 76);
}

.services-text-2 {
  font-family: "poppins";
  font-weight: 500;
  font-size: 11pt;
  color: rgb(94, 98, 130);
  line-height: 20px;
}

#plane {
  padding-top: 0px;
}

#plane .services-text {
  padding-top: 0px;
}

#decoration {
  position: absolute;
  top: 530px;
  left: 620px;
}

#decoration-2 {
  position: absolute;
  top: 100px;
  left: 1600px;
}

.top-destination {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  text-align: center;
  padding-top: 250px;
  position: relative;
}

.top-selling {
  display: flex;
  flex-direction: row;
  padding-top: 70px;
  gap: 80px;
}

.top-selling img {
  border-radius: 24px;
  cursor: pointer;
}

.destination {
  position: relative;
  transition: 0.15s;
}

.img-text {
  position: absolute;
  left: 1px;
  right: 0;
  top: 252px;
  opacity: 0;
  transform: scale(1.05);
  transition: ease-in-out 0.15s;
}

.img-text:hover {
  transform: scale(1.1);
  opacity: 1;
  box-shadow: rgba(0, 0, 0, 0.2) 0px 18px 50px -10px;
}

.top-selling-text {
  position: absolute;
  background-color: white;
  height: 114px;
  bottom: 0px;
  width: 100%;
  padding-top: 20px;
  padding-left: 20px;
}

.top-selling-text-1 {
  display: flex;
  gap: 90px;
}

.top-selling-text-2 {
  display: flex;
  gap: 20px;
}

.booking {
  position: relative;
  padding: 200px 22%;
}

.booking-tips-box {
  display: flex;
  flex-direction: column;
  padding-top: 45px;
  gap: 20px;
}

.booking-tips {
  display: flex;
  vertical-align: top;
  gap: 20px;
  border-radius: 10px;
  width: 500px;
  padding-top: 10px;
  padding-left: 10px;
  padding-bottom: 10px;
  padding-right: 10px;
  background-color: white;
}

.booking-tips img {
  width: 70px;
  border-radius: 23.5px;
}

.booking-text {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  gap: 10px;
}

#london {
  position: absolute;
  top: 300px;
  left: 1250px;
  z-index: 1;
  cursor: pointer;
  border-radius: 24px;
  transition: 0.15s;
}

#london:hover {
  z-index: 3;
  box-shadow: rgba(0, 0, 0, 0.2) 0px 18px 50px -10px;
  transform: scale(1.2);
}

#full-europe {
  position: absolute;
  top: 375px;
  left: 1350px;
  cursor: pointer;
  z-index: 2;
  border-radius: 24px;
  transition: 0.15s;
}

#full-europe:hover {
  box-shadow: rgba(0, 0, 0, 0.2) 0px 18px 50px -10px;
  transform: scale(1.1);
}

#blue-shadow {
  position: absolute;
  top: 100px;
  left: 1150px;
  z-index: -1;
}

.testimonials {
  display: flex;
  justify-content: center;
  gap: 200px;

}

.testimonials-text {
  display: flex;
  flex-direction: column;
  padding-left: 250px;
}

.testemon {
  position: relative;
  width: 560px;
  height: 245px;
  border-radius: 24px;
  transition: 0.15s;
}

.testemon:hover {
  transform: scale(1.1);
  box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 15px -3px, rgba(0, 0, 0, 0.05) 0px 4px 6px -2px;
}

.testemon-text {
  flex-direction: column;
  display: flex;
  padding-left: 38px;
  padding-top: 30px;
  gap: 20px;
}

.testemon img {
  position: absolute;
  border-radius: 50px;
  top: -30px;
  left: -40px;
}

.up-down-scroll {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 30px;
  transition: ease-in-out 0.15s;
}

.up-direct,
.down-direct {
  color: rgb(188, 183, 194);
  transform: scale(2);
  border-radius: 24px;
  cursor: pointer;
}

.down-direct:hover {
  transform: scale(2.5);
}

.up-direct:hover {
  transform: scale(2.5);
}

.up-direct:active,
.down-direct:active {
  color: rgb(30, 29, 76);
}

.logos {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 150px;
  padding-top: 200px;
  vertical-align: top;

}

.logos img {
  transform: scale(1.1);
  padding-top: 20px;
  padding-left: 16px;
  padding-right: 16px;
  transition: ease-in-out 0.15s;
  border-radius: 14px;
  cursor: pointer;
  filter: grayscale(100%);
}

.logos img:hover {
  box-shadow: rgba(0, 0, 0, 0.2) 0px 18px 50px -10px;
  transform: scale(1.2);
  filter: grayscale(0%);
}

.newslettre {
  display: flex;
  justify-content: center;
  padding-top: 200px;
  position: relative;
  padding-bottom: 300px;
}

.newslettre img {
  padding-right: 80px;
}

.newslettre-text {
  position: absolute;
  font-family: "poppins";
  font-weight: 600;
  font-size: 35pt;
  text-align: center;
  left: 340px;
  top: 220px;

  color: rgb(94, 98, 130);
}

.newslettre-contenu {
  z-index: 2;
}

.submiting {
  position: absolute;
  display: flex;
  top: 500px;
  left: 500px;
  gap: 30px;
  vertical-align: top;
}

.email {
  padding-top: 35px;
  padding-bottom: 35px;
  padding-left: 20px;
  padding-right: 350px;
  font-size: 16pt;
  font-family: "montserrat";
  color: #31384e;
  border-radius: 15px;
  border: none;
  transition: ease-in-out 0.15s;
  cursor: pointer;
}

.email:hover {
  box-shadow: rgba(0, 0, 0, 0.2) 0px 18px 50px -10px;
  transform: scale(1.05);
}

.Subscribe {
  font-size: 17pt;
  font-family: "open sans";
  font-weight: 600;
  color: white;
  background-image: linear-gradient(to bottom, #FF946D, #FF7D68);
  padding: 29px 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
  border-radius: 15px;
  transition: ease-in-out 0.15s;
  cursor: pointer;
}

.Subscribe:hover {
  box-shadow: rgba(0, 0, 0, 0.2) 0px 18px 50px -10px;
  transform: scale(1.05);
  opacity: 0.7;
}

.Subscribe:active {
  opacity: 0.5;
}

.send {
  position: absolute;
  right: 22px;
  top: 100px;
}

.newslettre-decoration img {
  position: absolute;
  left: 1730px;
  top: 600px;
  transform: scale(1.1);
}

a {
    color: black;
    font-family: "open sans";
    font-weight: 600;
    font-size: 14pt;
}

li:nth-child(8) {
    padding-right: 1.43rem;
    padding-left: 1.43rem;
    padding-top: 0.81rem;
    padding-bottom: 0.81rem;
    border: 0.0625rem black solid;
    border-radius: 0.625rem;
}

#dropdown {
    font-family: "open sans";
    font-size: 1rem;
    font-weight: 600;
    border: none;
    background-color: transparent;
    cursor: pointer;
}

.decore {
  position: absolute;
  display: flex;
  object-fit: contain;
  width: 30vw;
  right: 0;
  
}

.title{
  position: absolute;
  justify-content: center;
  text-align: center;
  top: 15rem;
  z-index: 10;
}

.title p {
  font-family: 'Poppins', sans-serif;
  font-size: 1.5rem;
  font-weight: 500;
  color: rgba(94, 98, 130, 1);
}

.title img {
  object-fit: contain;
  width: 7rem;
}

.pseudo {
  font-size: 2.5rem;
  color: rgba(20, 24, 62, 1);
  font-family: 'Volkhov', sans-serif;
  width: 30rem;
}



.container {
  position: absolute;
  top: 35rem;
  padding: 2rem;
  margin-top: 100px;
  min-width: 20vh;
  width: 50%;
}

.slider-wrapper {
  position: relative;
  max-width: 20rem;
  margin: 0 auto; 
}

.slider {
  display: flex;
  flex-direction: row;
  aspect-ratio: 16/9;
  overflow-x: auto;
  scroll-snap-type: x mandatory;
  scroll-behavior: smooth;
  scrollbar-width: none;
  box-shadow:  0 1.5rem 3rem -0.75rem hsla(0, 0%, 0%, 0.35);
  border-radius: 4rem;
  animation: hover 2s ease-in-out infinite alternate forwards 0.5s;
}
.slider img{
  flex : 1 0 100%;
  scroll-snap-align: start;
}


.text {
    position: absolute;
    bottom: 0;
    right: 0;
    width: 200px;
    height: 0;
    text-align: center;    
    background: rgba(255, 255, 255, 0.7);
    transition: height 0.7s ease-out;    
}

.slider-nav {
  position: absolute;
  display: flex;
  column-gap: 1rem;
  top: 30rem;
  left: 50%;
  transform: translateX(-50%);
  padding: 6px 5px 6px 5px;
  border-radius: 2vh;

}
.slider-nav a {
   width: 0.8rem;
   height: 0.8rem;
   border-radius: 40%;
   background: linear-gradient(rgb(255, 185, 8), rgb(255, 127, 84));
   opacity: 0.75;
   transition: opacity ease 250ms;
}

.slider-nav a:active {
  opacity: 50%;
}

.other-ph img {
  position: absolute;
  flex: 1 0 100%;
  object-fit: contain;
  width: 35rem;
  top: 25vh;
}

@keyframes hover {
  from {
        transform: translateY(-5%);
      }

      to {
        transform: translateY(5%);
      }
}

.other-ph img:first-child {
  left: 65vh;
  z-index: -1;
}

.other-ph img:last-child {
  right: 65vh;
  z-index: -1;
}
.gallery{
  position: relative;
  display: flex;
  flex-wrap: wrap;
  gap: 2vh;
  max-width: 300vh;
  margin: auto;
  top: 50vh;

}

.gallery-item {
  flex : 1 1 30%;
  max-width: 40vw;
  overflow: hidden;
  border-radius: 1vh;
  transition: transform 0.3s ease;
}

.gallery-item img{
  display: block;
  height: auto;
  width: 100vh;

}

.gallery-item:hover {
  transform: scale(1.1);
}




.mobile-nav {
  display: none;
}

#Contact {
  position: absolute;
  left: 2vh;
  width: 75%;

}

.main {
  position: relative;
  display: grid;
  grid-template-columns: repeat(3,1fr);
  margin-bottom: 30px;
}

.quick {
  position: relative;
  display: grid;
  grid-template-columns: repeat(3,1fr);
  margin-bottom: 30px;
}

.list {
  position: relative;
  width: 20%;
  left: 100px;
}

.list h1 {
  position: relative;
  font-weight: var(--p-font);
  font-size: 50px;
  font-family: 'Poppins', sans-serif;
  color: rgba(24, 30, 75, 1);
}

.list h3 {
  position: relative;
  font-family: 'Poppins', sans-serif;
  color: rgb(0, 0, 0);
  margin-bottom: 14pt;
  margin-left: 100px;
}

.list ul li:not(last-child) {
  margin-bottom: 8px;
}

.list ul li a {
  font-family: 'Poppins', sans-serif;
  font-weight: 410;
  color: rgba(94, 98, 130, 1);
}

.list ul:first-of-type {
  margin-left: 100px;
}

.list p {
  font-family: 'Poppins', sans-serif;
  color: rgba(94, 98, 130, 1);
  font-size: 13px;
  width: 220px;
  font-weight: 410
}

.list h1,
p {
  bottom: 30px;
}

.socials {
  position: relative;
  display: grid;
  grid-template-columns: repeat(3,10vh);
  grid-template-rows: repeat(3,7vh);
}

.list .socials a {
  position: relative;
  left: 15vh;
  width: 40px;
  height: 40px;
  color: var(--main-color);
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 100%;
  font-size: 24px;
  margin-right: 20px;
  box-shadow: 5px 5px 30px rgb(102, 88, 88);
}

.list .socials a:nth-of-type(2) {
  background-image: url(../imgs/Background.png);
  background-position: 50%;
  background-size: 100px;
  object-fit: cover;
  color: white;
}

.list .socials p {
  position: absolute;
  left: 15vh;
  top: 7vh;
  font-size: 15px;
  font-weight: 410;
}

.list .socials img {
  position: relative;
  left: 15vh;
  top: 40px;
  transition: ease 0.3s;
}

.list .socials img:nth-of-type(2) {
  position: relative;
  left: 22vh;
  top: 40px;
  transition: ease 0.3s;
}

.list .socials img:hover {
  cursor: pointer;
}



.CR {
  position: relative;
  left: 80vh;
  top: 10vh;
  font-family: 'Poppins', sans-serif;
  color: rgba(94, 98, 130, 1);
  font-size: 13px;
  width: 220px;
  font-weight: 410;
  margin-bottom: 20vh;
}

.mobile-nav {
  display: none;
  background-color: rgb(255, 255, 255);
}

@media  (min-width: 768px) and (max-width: 1024px){

  .other-ph img {
    display: none;
  }

  header ul {
    display: none;
  }

  .logo {
    right: 55vh;
  }

  .mobile-nav {
    flex-direction: column;
    padding: 0 2vh 0 0;
  }

  .slider-nav {
    top:28vh
  }

  .gallery{
    top: 20vh;
    width: 40vh;
  }


  #Contact{
    left: 0;
    top: 240vh;

  }

  .main {
    grid-template-columns: repeat(3, 15vh);
    right: 4vh;
}

.quick {
  grid-template-columns: repeat(3, 10vh);
}



  
  .socials {
  grid-template-columns: repeat(3,6vh);
  grid-template-rows: repeat(3,5vh);
  left: 7vh;
}




  .list .socials img:nth-of-type(2) {
    left: 18vh;
}

  .CR {
    left: 35vh;
}

}


@media  (max-width: 768px)  {

  .mobile-nav{
        position: fixed;
        display: flex;
        align-items: center;
        bottom: 0;
        left: 0;
        width: 100%;
        height: 50px;
        border-top: 1px solid rgba(100, 100, 100, 0.5);
        z-index: 1000;
    }

    .mobile-nav ul{
      position: fixed;
        width: 100%;
        display: flex;
        justify-content: space-around;
        align-items: center;
        list-style: none;
    }
    .mobile-nav a{
        color: black;
        text-decoration: none;
    }

    .other-ph img {
      display: none;
    }


  header  {
    right: 2rem;
  }

  header > ul {
    display: none;
  }

  .logo {
  font-size: 9pt;
  right: 66vw;
  top: 4vh;
  }

  .gallery {
      top: 10vh;
  }

  
.container {
  width: 45vh;
  top: 20rem;
  padding: 0;

}

  .Navbar{
    display: none;
  }

  .slider {
    border-radius: 2rem;
  }

  .slider-nav {
    display: none;
  }
  .decore {
    width: 50vw;
    overflow: hidden;
  }
  
  .title p {
    font-size: 1rem;
  }

  .title{
  top: 10rem;
  }



  .pseudo {
    font-size: 1.5rem;
    width: 20rem;
  }



  #Contact {
  width: 70%;
  top: 115rem;
  left: 0;
}

  .main{
  position: relative;
  display: flex;
  flex-direction: column;
  }

  .main:first-of-type > h1 , p {
    position: relative;
    bottom: 4vh;
    text-align: center;
  }

  .quick {
    position: relative;
    display: flex;
    flex: 1 0 100%;
    flex-direction: row;
    flex-wrap: nowrap;
    gap: 10vh;
    right: 23vh;
  }

  .CR {
    left: 13vh;
  }

  .socials {
    top: 5vh;

  }

  .list .socials  a{
    left: 0;
  }

  .list .socials  p{
    top: 8vh;
    left: 0;
  }

  .list .socials  img{
    left: 0;
  }

  .list .socials img:nth-of-type(2) {
    left: 5vh;
  }

}
